:root {
	--background-color: #121212;
	--surface-color: #222222;
    --surface-color-2: #353535;
	--text-color: #cdcdcd;
}

html, body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    margin: auto;
    width: min(100%, 60rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

a {
	color: var(--text-color);
    text-decoration: none;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 1px;
}

img {
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    margin: auto;
}

code {
    background-color: var(--surface-color-2);
    border-radius: 0.2rem;
    padding: 0.1rem;
}

pre > code {
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow: auto;
}

.header {
    background-color: var(--surface-color);
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    flex: 0 0 0;
}

.header .logo_link {
    border: 0;
}

.header .logo_link .logo {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.header .title {
    text-align: center;
    margin: auto;
    flex-grow: 1;
    font-weight: bold;
    font-size: large;
}

.body {
    display: flex;
    margin: 0rem 1rem;
    flex: 1 0 0;
}

@media (max-width: 40rem) {
    .body {
        flex-direction: column;
    }
}

@media (min-width: 40rem) {
    .body .nav {
        flex-direction: row;
    }
}

.body .nav {
    background-color: var(--surface-color);
    border-radius: 1rem;
    padding: 1rem;
    flex: 0 0 0;
}

@media (max-width: 40rem) {
    .body .nav {
        margin-bottom: 1rem;
    }
}

@media (min-width: 40rem) {
    .body .nav {
        margin-right: 1rem;
    }
}

.body .nav .title {
    font-weight: bold;
    text-align: center;
}

.body .nav .item {
    margin-top: 0.25rem;
}

.body .content {
    background-color: var(--surface-color);
    border-radius: 1rem;
    padding: 1rem;
    flex: 1 0 0;
    min-width: 0;
}

.body .content .tech {
    display: flex;
    justify-content: center;
}

.body .content .tech .item {
    font-family: monospace;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--surface-color-2);
}

.footer {
    border-radius: 1rem;
    margin: 1rem;
    flex: 0 0 0;
}

.footer .title {
    text-align: center;
    font-weight: bold;
}

.footer .list {
    display: flex;
    margin: auto;
    width: min(100%, 40rem);
}

.footer .list .item {
    flex: 1;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
}

.footer .list .item .icon {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    margin: 0 0.25rem;
}

@media (max-width: 40rem) {
    .footer .list {
        flex-direction: column;
    }
}